PORT=5000
CLIENT_ORIGIN=https://your-frontend-domain.com
NODE_ENV=production

MONGO_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=wedding-gallery

ADMIN_USER=admin
ADMIN_PASS=replace_me

EMAIL_USER=
EMAIL_PASSWORD=
ADMIN_EMAIL=
