# MongoDB Connection
MONGODB_URI=your_mongodb_connection_string

# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-specific-password
ADMIN_EMAIL=admin@thegoldenshutter.com

# Other Config
PORT=5000
