@import "tailwindcss";

:root {
  --bg: #000000; /* Black */
  --text: #FFFFFF; /* White */
  --card: #1F2124; /* Dark Gray */
  --border: #69727D; /* Gray Border/Input */
  --overlay-30: rgba(0, 0, 0, 0.3);
  --overlay-10: rgba(0, 0, 0, 0.1);
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

/* Hero slow zoom animation */
.hero-zoom {
  animation: heroZoom 10s ease-in-out infinite alternate;
}

@keyframes heroZoom {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.18);
  }
}

